<!--
<div id="mynetwork"></div>
<p id="uniprotid"></p>
<p id="ensemblid"></p>
<p id="geneid"></p>
-->

<div class="container" style="margin-left: 0px;">
  <div class="row">
    <div id="mynetwork" style="display: inline-block;" class="col-6">
    </div>
    <div style="display: inline-block; margin-left: 15px;" class="col-3">
      <p id="uniprotid"></p>
      <p id="ensemblid"></p>
      <p id="geneid"></p>
      <p id="pagerank"> </p>
      <p id="closeness"> </p>
      <p id="betweenness"></p>
      <p id="nodedegree"> </p>
    </div>
    </div>
</div>