<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-family: Verdana">PPIB</a>
    <div style="display: inline-block; width: 1000px">
      <form class="d-flex input-group" [formGroup]="interactionsForm" (ngSubmit)="getInteractions()">
        <input
          formControlName = "proteinID"
          type="search"
          class="form-control rounded"
          placeholder="UniProt IDs (Example: Q9Y692 V9GYH0 Q9Y644)"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <button class="btn"> SEARCH </button>
        </span>
    </form>
  </div>
  </div>
</nav>
<div style="display: inline-block; margin-top: 15px;">
  <p class="lead additional_search_p" style="display: inline-block;">Additional search parameters: </p>
  <form [formGroup]="additionalForm" style="display: inline-block; padding-top: 13px; padding-bottom: 13px;">
    <div class="row mb-3">
      <input type="text" formControlName="layers_input" class="form-control" placeholder="Number of layers" style="margin-bottom: 5px; width: 150px;">
      <input type="text" formControlName="threshold_input" class="form-control" placeholder="Score threshold" style="width: 150px; margin-bottom: 5px; margin-left: 10px;">
    </div>
  </form>
</div>